.footer {
  background-color: white;
  color: black;
  padding: 25px 0;
  margin-top: 40px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .footer {
  background-color: #333;
  color: white;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.footer-links li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  transition: 0.3s;
}

.footer-links li a:hover {
  color: #333333;
}

.footer-bottom-text {
  margin-top: 20px;
  font-size: 14px;
  color: #888888;
  border-top: 1px solid #333333;
  padding-top: 15px;
}
